body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/** add todo **/
.add-todo {
  margin-left: 0.5rem;
}

/** todo list **/
.todo-list {
  margin: auto;
  --background: #ffffff;
  --text: #414856;
  --check: #4F29F0;
  --disabled: #C3C8DE;
  --width: 500px;
  --height: 140px;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 30px 45px;
  -webkit-box-align: center;
  align-items: center;
  overflow-y: scroll;
  
}

/** todo item **/
.todo-item {
  font-family: monospace;
  cursor: pointer;
  padding: 5px;
  line-height: 1.5;
}
.todo-item__text--completed {
  text-decoration: line-through;
  color: lightgray;
}

/** visibility filters **/
.visibility-filters{
  margin: auto;
  padding: 1rem;
}
.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}
.filter--active {
  border-bottom: 1px solid black;
}
